.gridly {
  position: relative;
  width: 960px;
  background-color: #101214;
}

.brick.header {
  width:97.9%;
  height: 30px;
  margin: auto 0;
  position: absolute;
  margin-top:8px;
  text-align: center;
  overflow: hidden
}

.brick.small {
  width: 140px;
  height: 140px;
}

.brick.large-long {
  width: 300px;
  height: 140px;
}

.brick.small-long {
  width: 220px;
  height: 140px;
}


.brick.large {
  width: 300px;
  height: 300px;
}

.brick.long {
  width: 460px;
  height: 300px;
}

.brick.verysmall {
  width: 70px;
  height: 70px;
  margin: auto 0;
  padding: 0;
  float: left;
}

.brick {
  background-color: #2A2A2A;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(42,42,42,1);
  -moz-box-shadow: 0px 0px 1px 1px rgba(42,42,42,1);
  box-shadow: 0px 0px 1px 1px rgba(42,42,42,1);
}

.dashboard-header{
  display: inline-block;
  height: 30px;
  width: 100%;
  color: #8C928A;
  /* background-color: #232526; */
  background-color: #272727;
  /* overflow: hidden; */
  white-space: nowrap;
  padding-left: 8px; 
  vertical-align: middle;
  padding-top: 3px;
  font-size: 1.2em;
}

#fh-logo {
  float:left;
  margin-left:175px; 
  height:30px;

}

#today-btn {
  float: right; 
  width:20px; 
  height:20px; 
  border-radius:3px;
  cursor:pointer; 
  margin-right:3px;
}
#today-btn p {
  margin-top:-10px;
  margin-left:-5px; 
  font-weight:bold; 
  font-size:1.3em; 
  color:#2A2A2A;
}

#testbox {
  color:#E9D5D5; 
  padding-left:5px;
  white-space:nowrap; 
  overflow:hidden;
  margin-right:8px;
  font-family:Arial;
  font-size:1.07em;
}

#testbox label input {
  color:white;
}

#consumption-btns{
  float:right; 
  height:20px;
}
#consumption-btns label {
  color:black;
  background-color:#C0C0C0; 
  height:27px;
  margin-top: -2px;
  margin-right: 2px;
}


#stats-btn {
  height: 23px; 
  width:15px;
  float:right;
  margin-right:5px;
}

#stats-btn p {
  margin-top:-8px;
  margin-left:-7px; 
  font-weight:bold; 
  font-size:1.3em; 
  color:#2A2A2A;
}

#stats-container {
  font-size:1.15em;
  width:100%;
  color:#E9D5D5;
  margin-left:-5px;
  padding-top:5px;
  font-family:Arial;
}

#active-users-btn {
   background-color:Transparent;
   background-repeat:no-repeat;
   border:none;outline:none;
   overflow:hidden;
}

#active-users-btn i {
  margin-top:10px;
  color:#5F8099;
  font-size:85px;   
}

#active-users-btn i p {
  margin-top:-33px;
  color:#84C676;
  font-size:0.4em;
  font-weight:bold; 
}

#security-div {
   border-radius: 2px;
   height: 45px; width:95px; 
   margin-left:22px; 
   background-color:grey; 
   float:left; 
   overflow:hidden; 
   margin-bottom:5px;
}

#security-div button { 
  border-radius: 2px;
  height: 45px; 
  width:95px;
}

#lightbulb-div {
   border-radius: 2px;
   height: 45px; 
   width:95px; 
   margin-left:5px; 
   background-color:grey;
   overflow:hidden; 
   float:left;
}

#lightbulb-div button {
  border-radius: 2px;
  height: 45px; 
  width:95px;
}

#coffee-div {
   border-radius: 2px;
   height: 45px; 
   width:95px; 
   margin-top:-7px; 
   margin-left:22px; 
   background-color:grey; 
   float:left; 
   overflow:hidden; 
   margin-bottom:5px;
}

#coffee-div button {
  border-radius: 2px;
  height: 45px; 
  width:95px;
}

#settings-div {
  border-radius: 2px;
  height: 45px; 
  width:95px; 
  margin-left:5px; 
  background-color:grey;
  overflow:hidden; 
  float:left; 
  margin-top:-7px;
}

#settings-div button {
   border-radius: 2px;
   height: 45px; 
   width:95px;
}

#home-div {
   border-radius: 2px;
   height: 45px; 
   width:95px; 
   margin-left:22px; 
   background-color:grey; 
   float:left; 
   overflow:hidden; 
   margin-bottom:5px;
}

#home-div button {
   border-radius: 2px;
   height: 45px; 
   width:95px;
}

#away-div {
   border-radius: 2px;
   height: 45px; 
   width:95px; 
   margin-left:5px; 
   background-color:grey;
   overflow:hidden; 
   float:left;
}

#away-div button {
   border-radius: 2px;
   height: 45px; 
   width:95px;
}

#night-div {
   border-radius: 2px;
   height: 45px; 
   width:95px; 
   margin-top:-7px; 
   margin-left:22px; 
   background-color:grey; 
   float:left; 
   overflow:hidden; 
   margin-bottom:5px;
}

#night-div button {
 border-radius: 2px;
 height: 45px; 
 width:95px;
}

#vacation-div {
   border-radius: 2px;
   height: 45px; 
   width:95px; 
   margin-left:5px; 
   background-color:grey;
   overflow:hidden; 
   float:left; 
   margin-top:-7px;
}

#vacation-div button {
   border-radius: 2px;
   height: 45px; 
   width:95px;
}

#bedroom-div {
  border-radius: 2px;
  height: 45px; 
  width:90px; 
  margin-left:20px; 
  background-color:grey; 
  float:left; 
  overflow:hidden; 
  margin-bottom:5px;
}

#bedroom-div button {
   border-radius: 2px;
   height: 45px; 
   width:90px;
}

#kitchen-div {
   border-radius: 2px;
   height: 45px; 
   width:90px; 
   margin-left:5px; 
   background-color:grey;
   overflow:hidden; 
   float:left;
}

#kitchen-div button {
  border-radius: 2px;
  height: 45px; 
  width:90px;
}

#garage-div{
 border-radius: 2px;
 height: 45px; 
 width:90px; 
 margin-left:5px; 
 float:left; 
 background-color:grey;
 overflow:hidden;
}

#garage-div button {
  border-radius: 2px;
  height: 45px; 
  width:90px;
}

#livingroom-div {
 border-radius: 2px;
 height: 45px; 
 width:90px; 
 margin-top:-7px; 
 margin-left:20px; 
 background-color:grey; 
 float:left; 
 overflow:hidden; 
 margin-bottom:5px;
}

#livingroom-div button {
  border-radius: 2px;
  height: 45px; 
  width:90px;
}

#bathroom-div {
  border-radius: 2px;
  height: 45px; 
  width:90px; 
  margin-left:5px; 
  background-color:grey;
  overflow:hidden; 
  float:left; 
  margin-top:-7px;
}

#bathroom-div button {
  border-radius: 2px;
  height: 45px; 
  width:90px;
}

#other-areas-div {
  margin-top:-7px;
  border-radius: 2px;
  height: 45px; 
  width:90px; 
  margin-left:5px; 
  float:left; 
  background-color:grey;
  overflow:hidden;
}

#other-areas-div button {
  border-radius: 2px;
  height: 45px; 
  width:90px;
}

#todo-item {
   margin-left:20px; 
   margin-right: 20px;
   resize:horizontal; 
   width:200px

}

.period-btn {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  float: right; 
  width:50px; 
  height:20px; 
  border-radius:3px;
  cursor:pointer; 
  margin-right:5px;
}

.testbox::-webkit-scrollbar {
 display: none;
}

.weather-border {
  border-left: 2px solid #444C53;
}

.weather-icon div img {
  max-width:120%;
  max-height:120%;
  padding: 5px 0 0 0;
}


.weather-text h2 {
  line-height: 150%; 
  font-weight: bold; 
  font-size: 20px;
  color: white;
}

h3.degrees {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-bottom: -5px;
}

.day {
  font-weight: bold;
    font-size: 20px;
    border-top: 2px solid rgba(115, 135, 156, 0.36);
    text-align: center;
    border-bottom: 2px solid rgba(115, 135, 156, 0.36);
    padding: 5px 0;
    color: white;
}

.forecast-img {
   max-width:50%;
   max-height:50%;
}

#today-list {
  padding-top: 5px;
  float:left;
  color: white;
  overflow: hidden;
}

/* CHARTS */
#buyers {
  width:100%; 
  height:100%; 
  padding: 5px 5px 25px 5px;
}

#income {
  width:100%; 
  height:100%; 
  padding: 5px 5px 25px 5px;
}

#devices {
  width:100%; 
  height:90%; 
  padding: 10px 10px 20px 10px;
}

#time {
  color:white;
  padding:3px 10px 0px 0px;
  font-size: 1.2em; 
  float:right
}

#Date {
  color:white;
  padding:3px 0 0 10px;
  font-size: 1.2em; 
  float:left
}


/* If you want you can use font-face */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



