<!DOCTYPE html>
<html>
<head>
    <title>Futurehome Dashboard</title>
    
    <!-- JAVASCRIPT PLUGINS, LIBRARYS AND FRAMEWORKS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.gridly.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    
    <!-- JAVASCRIPT PLUGINS, LIBRARYS AND FRAMEWORKS FROM LOCAL -->
    <script type="text/javascript" src="assets/js/chart.min.js"></script>
    

    <!-- CSS LIBRARYS AND FRAMEWORKS FROM CDN -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <!-- CSS LIBRARYS AND FRAMEWORKS FROM LOCAL -->
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.gridly.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">

</head>
<body ng-app="mainApp" ng-controller="mainController">
<div class="gridly">
    <div class="brick header">
        <span id="Date"></span>
        <img id="fh-logo" src="assets/img/logo_B_transp_2Kpx.png">
        <span id="time">
            <span id="hours"></span>
            <span>:</span>
            <span id="min"></span>
            <span>:</span>
            <span id="sec"></span>
        </span>
    </div>
        
    <div class="brick small" >
        <div class="dashboard-header">
            TODAY <span align="center" data-toggle="modal" data-target="#myModalStock" id="today-btn" class="btn-primary">+</span>
        </div>

        <!-- 2DO LIST -->
        <div id="todo-list" style=" height:100px; overflow: auto;">
                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div id="testbox" style="color:white; padding-left:5px;white-space:nowrap; overflow:hidden;margin-right:8px;" class="checkbox" ng-repeat="todo in todos">
                    <label>
                        <input style="color:white;" type="checkbox"  ng-click="deleteTodo(todo._id)"> {{ todo.text }}
                    </label>
                </div>
        </div>
    </div>

    <div class="brick long">
        <div class="dashboard-header">
            POWER CONSUMPTION 

            <div class="btn-group" data-toggle="buttons" style="float:right; height:25px;">
                <label class="btn btn-primary active" style="height:25px;vertical-align: middle;">
                    <input type="radio" name="options" style="margin-bottom:50px;" id="option1" autocomplete="off" checked> Day
                </label>
                <label class="btn btn-primary" style="height:25px">
                    <input type="radio" style="text-align: center; vertical-align:middle;" name="options" id="option2" autocomplete="off"> Week
                </label>
                <label class="btn btn-primary" style="height:25px;">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Month
                </label>
                <label class="btn btn-primary" style="height:25px;">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Year
                </label>
            </div>
       <!--     <span align="center" class="btn-primary period-btn">Year</span>
            <span align="center" class="btn-primary period-btn">Month</span>
            <span align="center" class="btn-primary period-btn">Week</span>
            <span align="center" class="btn-primary period-btn">Day</span>
            -->
        </div>
        <canvas id="buyers"></canvas>  
    </div>
    
    
    <div class="brick large">
        <div class="dashboard-header">
            WEATHER REPORT
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="weather-icon">
                    <div align="center">
                        <img id="iconTest" src="">
                    </div>
                </div>
            </div>

            <div class="col-sm-4 weather-border">
                <div class="weather-text">
                    <h2 align="center">Outside</h2>
                    <h3 style="line-height: 120%;" class="degrees" id="wOutsideTemp"></h3>
                </div>
            </div>

            <div class="col-sm-4 weather-border">
                <div class="weather-text">
                    <h2 align="center">Inside</h2>
                    <h3 class="degrees" id="wInsideTemp"></h3>
                </div>
            </div>
        </div>


        <div class="row weather-days">
            <div class="col-sm-4">
                <div class="daily-weather">
                    <h2 class="day" id="day1-txt"></h2>
                    <h1 align="center">
                        <img class="forecast-img" id="iconTest1" src="">
                    </h1>
                    <h3 class="degrees" id="day1-degrees"></h3>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="daily-weather">
                    <h2 class="day" id="day2-txt"></h2>
                    <h1 align="center">
                        <img class="forecast-img" id="iconTest2" src="">
                    </h1>
                    <h3 class="degrees" id="day2-degrees"></h3>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="daily-weather">
                    <h2 class="day" id="day3-txt"></h2>
                    <h1 align="center">
                        <img class="forecast-img" id="iconTest3" src="">
                    </h1>
                    <h3 class="degrees" id="day3-degrees"></h3>
                    
                </div>
            </div>
        </div>



    </div>
    <div class="brick small">
        <div class="dashboard-header">
            <p>STATISTICS</p>
        </div>
        <div style="color:white;">
            # Devices:
            <br>
            Daily kwh:
            <br>
            Avg kwh/h:


        </div>


    </div>
</div>


<!-- Modal2 -->
    <div class="modal fade" id="myModalStock" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a todo:</h4>
                </div>
                <div class="modal-body">
                    <div id="todo-form" class="row">
                        <form class="form-inline">
                            <div class="form-group">
                                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                            <input style="margin-left:20px; margin-right: 20px;resize:horizontal; width:200px" id="todo-item" type="text" class="form-control input-md text-center" placeholder="What's on todays agenda?" ng-model="formData.text">    
                </div>
                
                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button  type="submit" class="btn btn-primary btn-md" ng-click="createTodo()">Add item</button>
            </form>
        </div>
                </div>
                <div class="modal-footer" align="center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



<!-- JAVASCRIPT CUSTOM FILES FROM LOCAL -->
<script type="text/javascript" src="assets/js/gridly.js"></script>
<script type="text/javascript" src="assets/js/chart.min.js"></script>
<script type="text/javascript" src="assets/js/charts.js"></script>
<script type="text/javascript" src="assets/js/clock.js"></script>
<script type="text/javascript" src="assets/js/weather-api.js"></script>
<script type="text/javascript" src="assets/js/core.js"></script>


</body>
</html>