<!DOCTYPE html>
<html>
<head>
    <title>Futurehome Dashboard</title>
    
    <!-- JAVASCRIPT PLUGINS, LIBRARYS AND FRAMEWORKS FROM CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.gridly.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    
    <!-- JAVASCRIPT PLUGINS, LIBRARYS AND FRAMEWORKS FROM LOCAL -->
    <script type="text/javascript" src="assets/js/chart.min.js"></script>
    <script src="assets/js/sweetalert.min.js"></script>
    

    <!-- CSS LIBRARYS AND FRAMEWORKS FROM CDN -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <!-- CSS LIBRARYS AND FRAMEWORKS FROM LOCAL -->
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.gridly.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
    <link rel="stylesheet" type="text/css" href="assets/css/hover.css" media="all">
    <link rel="stylesheet" type="text/css" href="assets/css/sweetalert.css">

</head>
<body ng-app="mainApp" ng-controller="mainController">

<!-- GRID LAYOUT START -->
<div class="gridly">
    <!-- GRID HEADER START -->
    <div class="brick header">
        <!-- HEADER -> DATE -->
        <span id="Date"></span>
        <!-- HEADER -> LOGO -->
        <img id="fh-logo" src="assets/img/fh-logo-white.png">
        <!-- HEADER -> TIME -->
        <span id="time">
            <span id="hours"></span>
            <span>:</span>
            <span id="min"></span>
            <span>:</span>
            <span id="sec"></span>
        </span>
    <!-- GRID HEADER END -->
    </div>

    <!-- GRID TODAY BRICK START -->
    <div class="brick small" >
        <div class="dashboard-header" style="color:#8C928A; font-size:1.4em;">
            TODAY <!-- TITLE -->
            <button id="today-btn" data-toggle="modal" data-target="#myModalTodo" class="btn hvr-fade"><p>+</p></button>
        </div>

        <!-- 2DO LIST -->
        <div id="todo-list" style=" height:100px; overflow: auto;">
                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div id="testbox" class="checkbox" ng-repeat="todo in todos">
                    <label>
                        <input type="checkbox"  ng-click="deleteTodo(todo._id)"> {{ todo.text }}
                    </label>
                </div>
        </div>
    <!-- GRID TODAY BRICK END -->
    </div>

    <!-- GRID POWER CONSUMPTION BRICK START -->
    <div class="brick long">
        <div class="dashboard-header">
            POWER CONSUMPTION
            <div id="consumption-btns" class="btn-group" data-toggle="buttons">
                <label class="babel-btn btn active hvr-fade">
                    <input type="radio" name="options" class="btn hvr-fade" id="option1" autocomplete="off" checked onchange="GenerateChart(0)"> 
                    Day
                </label>
                <label class="btn">
                    <input type="radio" name="options" id="option2" onchange="GenerateChart(1)" autocomplete="off"> 
                    Week
                </label>
                <label class="btn">
                    <input type="radio" name="options" id="option3" autocomplete="off" onchange="GenerateChart(2)"> 
                    Month
                </label>
                <label class="btn">
                    <input type="radio" name="options" id="option4" autocomplete="off" onchange="GenerateChart(3)"> 
                    Year
                </label>
            </div>
        </div>
        <canvas id="buyers"></canvas>  
    <!-- GRID POWER CONSUMPTION BRICK END -->
    </div>

    <!-- GRID WEATHER BRICK START -->
    <div class="brick large">
        <div class="dashboard-header">
            WEATHER REPORT - <span id="wCity" style="padding-left:5px;"></span>
        </div>
        <div class="row">
            <!-- MAIN WEATHER ICON -->
            <div class="col-sm-4">
                <div class="weather-icon">
                    <div align="center">
                        <img id="iconTest" src="">
                    </div>
                </div>
            </div>

            <!-- OUTSIDE TEMPERATURE -->
            <div class="col-sm-4 weather-border">
                <div class="weather-text">
                    <h2 align="center">Outside</h2>
                    <h3 style="line-height: 120%;" class="degrees" id="wOutsideTemp"></h3>
                </div>
            </div>

            <!-- INSIDE TEMPERATURE -->
            <div class="col-sm-4 weather-border">
                <div class="weather-text">
                    <h2 align="center">Inside</h2>
                    <h3 class="degrees" id="wInsideTemp"></h3>
                </div>
            </div>
        </div>


        <div class="row weather-days">
            <!-- WEATHER FORECAST TODAY+1 -->
            <div class="col-sm-4">
                <div class="daily-weather">
                    <h2 class="day" id="day1-txt"></h2>
                    <h1 align="center">
                        <img class="forecast-img" id="iconTest1" src="">
                    </h1>
                    <h3 class="degrees" id="day1-degrees"></h3>
                </div>
            </div>

            <!-- WEATHER FORECAST TODAY+2 -->
            <div class="col-sm-4">
                <div class="daily-weather">
                    <h2 class="day" id="day2-txt"></h2>
                    <h1 align="center">
                        <img class="forecast-img" id="iconTest2" src="">
                    </h1>
                    <h3 class="degrees" id="day2-degrees"></h3>
                </div>
            </div>

            <!-- WEATHER FORECAST TODAY+3 -->
            <div class="col-sm-4">
                <div class="daily-weather">
                    <h2 class="day" id="day3-txt"></h2>
                    <h1 align="center">
                        <img class="forecast-img" id="iconTest3" src="">
                    </h1>
                    <h3 class="degrees" id="day3-degrees"></h3>
                </div>
            </div>
        </div>
    <!-- GRID WEATHER BRICK END -->
    </div>

    <!-- GRID STATISTICS BRICK START -->
    <div class="brick small">
        <div class="dashboard-header" style="font-size:1.4em;">
            STATISTICS 
            
            <button id="stats-btn" ng-click="newDumyData()" class="btn hvr-fade">
                <p>
                    <i class="fa fa-info-circle"></i>
                </p>
            </button>
            
        </div>
        
        <div id="stats-container" class="container">
            <table border="1">
                <tr>
                    <td style="line-height:120%;">Devices:</td>
                    <td id ="oLights">&nbsp;</td>
                </tr>
                <tr>
                    <td>kwh/h:</td>
                    <td id ="kwhPrHr">&nbsp;</td>
                </tr>
                <tr>
                    <td>Kwh/day:&nbsp;&nbsp;&nbsp;</td>
                    <td id ="kwhPrDay">&nbsp;</td>
                </tr>
                <tr>
                    <td>kwh/week:</td>
                    <td id ="kwhPrWeek" >&nbsp;</td>
                </tr>
                <tr>
                    <td>kwh/month:&nbsp;</td>
                    <td id ="kwhPrMonth">&nbsp;</td>
                </tr>
                
            </table>
        </div>
    <!-- GRID STATISTICS BRICK END -->
    </div>

    <!-- GRID ACTIVE USERS BRICK START -->
    <div class="brick small">
        <div class="dashboard-header" style="font-size:1.4em;">
            ACTIVE USERS
        </div>
        <div align="center">
            <button id="active-users-btn" data-toggle="modal" data-target="#myModalUsers">
                <i align="center" class="fa fa-users">
                    <p>3</p>
                </i>
            </button>
            
        </div>
    <!-- GRID ACTIVE USERS BRICK END -->
    </div>
    
    <!-- GRID SHORTCUTS BRICK START -->
    <div class="brick small-long">
        <div class="dashboard-header" style="margin-bottom:5px;">SHORTCUTS</div>
        <div class="container row" style="padding-left:5px;">
           
           <!-- SECURITY BUTTON -->
            <div id="security-div" align="center">
                <button id="security-btn" class="btn hvr-fade" onclick="alertSecurity();">
                    <i class="fa fa-lock fa-2x"></i>
                </button>
            </div>    

            <!-- LIGHTBULB BUTTON -->
            <div id="lightbulb-div" align="center">
                <button class="btn hvr-fade">
                    <i class="fa fa-lightbulb-o fa-2x"></i>
                </button>
            </div>

            <br><br><br>

            <!-- COFFEE BUTTON -->
            <div id="coffee-div" align="center">
                <button id="coffee-maker" onclick="toggleCoffeeMaker();" class="btn hvr-fade">
                    <i class="fa fa-coffee fa-2x"></i>
                </button>
            </div>    

            <!-- SETTINGS BUTTON -->
            <div id="settings-div" align="center">
                <button class="btn hvr-fade">
                    <i class="fa fa-cogs fa-2x"></i>
                </button>
            </div> 
        </div>
    <!-- GRID SHORTCUTS BRICK START -->
    </div>
   
   <!-- GRID MODE BRICK START -->
    <div class="brick small-long">
        <div class="dashboard-header" style="margin-bottom:5px;">MODE</div>
        <div class="container row" style="padding-left:5px;">

           <!-- HOME BUTTON -->
            <div id="home-div" align="center">
                <button id="home-btn" onclick="toggleMode('home')" class="btn hvr-fade">Home</button>
            </div>

            <!-- AWAY BUTTON -->    
            <div id="away-div" align="center">
                <button id="away-btn" onclick="toggleMode('away')" class="btn hvr-fade">Away</button>
            </div>

            <br><br><br>

            <!-- NIGHT BUTTON -->
            <div id="night-div" align="center">
                <button id="night-btn" onclick="toggleMode('night')" class="btn hvr-fade">Night</button>
            </div>    

            <!-- VACATION BUTTON -->
            <div id="vacation-div" align="center">
                <button id="vacation-btn" onclick="toggleMode('vacation')" class="btn hvr-fade">Vacation</button>
            </div> 
        </div>
    <!-- GRID MODE BRICK END -->
    </div>
    
    <!-- GRID ROOM OVERVIEW BRICK START -->
    <div class="brick large-long">
        <div class="dashboard-header" style="margin-bottom:7px;">
            ROOM OVERVIEW
        </div>
        <div class="container row" style="padding-left:5px;">
            
            <!-- BEDROOM BUTTON -->
            <div id="bedroom-div" align="center" >
                <button class="btn hvr-fade">
                    <i class="fa fa-bed fa-2x"></i>
                </button>
            </div>    

            <!-- KITCHEN BUTTON -->
            <div id="kitchen-div" align="center">
                <button class="btn hvr-fade">
                    <i class="fa fa-cutlery fa-2x"></i>
                </button>
            </div>

            <!-- GARAGE BUTTON -->
            <div id="garage-div" align="center">
                <button class="btn hvr-fade">
                    <i class="fa fa-car fa-2x"></i>
                </button>
            </div>   

            <br><br><br>
            
            <!-- LIVINGROOM BUTTON -->
            <div id="livingroom-div" align="center">
                <button class="btn hvr-fade">
                    <i class="fa fa-television fa-2x"></i>
                </button>
            </div>    

            <!-- BATHROOM BUTTON -->
            <div id="bathroom-div" align="center">
                <button class="btn hvr-fade">
                    <i class="fa fa-tint fa-2x"></i>
                </button>
            </div>

            <!-- OTHER AREAS BUTTON -->
            <div id="other-areas-div" align="center">
                <button class="btn hvr-fade"><i class="fa fa-plus-square fa-2x"></i></button>
            </div>  
        </div>
    <!-- GRID ROOM OVERVIEW BRICK END -->
    </div>
<!-- GRID LAYOUT END -->
</div>


<!-- TODO MODAL -->
<div class="modal fade" id="myModalTodo" role="dialog">
    <div class="modal-dialog">
        <!-- MODAL CONTENT-->
        <div class="modal-content">
            <!-- MODAL HEADER-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a todo:</h4>
            </div>
            <!-- MODAL BODY-->
            <div class="modal-body">
                <div id="todo-form" class="row">
                    <form class="form-inline">
                        <div class="form-group">
                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                            <input maxlength="20" id="todo-item" type="text" class="form-control input-md text-center" 
                            placeholder="What's on todays agenda?" ng-model="formData.text">    
                        </div>
            
                        <!-- createToDo() WILL CREATE NEW TODOS -->
                        <button  type="submit" class="btn btn-primary btn-md" ng-click="createTodo()">Add item</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer" align="center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- ACTIVE USERS MODAL -->
<div class="modal fade" id="myModalUsers" role="dialog">
    <div class="modal-dialog">
        <!-- MODAL CONTENT-->
        <div class="modal-content">
            <!-- MODAL HEADER-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Overview of the active users in the house</h4>
            </div>
            <!-- MODAL BODY-->
            <div class="modal-body">
                <div style="width:600px; height:400px;">
                    <canvas id="income"></canvas>
                </div>
                
            </div>
            <div class="modal-footer" align="center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- JAVASCRIPT CUSTOM FILES FROM LOCAL -->
<script type="text/javascript" src="assets/js/gridly.js"></script>
<script type="text/javascript" src="assets/js/chart.min.js"></script>
<script type="text/javascript" src="assets/js/charts.js"></script>
<script type="text/javascript" src="assets/js/clock.js"></script>
<script type="text/javascript" src="assets/js/weather-api.js"></script>
<script type="text/javascript" src="assets/js/core.js"></script>
<script type="text/javascript" src="assets/js/shortcuts.js"></script>
<script type="text/javascript" src="assets/js/mode.js"></script>

</body>
</html>
