doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/indexcss.css')
    link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/bootstrap/dist/fonts/font-awesome.min.css" rel="stylesheet")
    link(href="/bootstrap/dist/css/animate.min.css" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(href="/stylesheets/custom.css" rel="stylesheet")
    script(src="/javascripts/weather-api.js")
    script(src="/javascripts/weather-api.js")
    script(src="/javascripts/news-api.js")
    script(src="/javascripts/time-and-date.js")
    script(src="/javascripts/consumption-bar.js")


  body
    block content